// ! Fonts
$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: Georgia, Times, "Times New Roman", serif;


// ! Colors



// ! - Alert
$cs-alert-green: rgb(60,118,61);
$cs-alert-blue: rgb(49,112,143);
$cs-alert-yellow: rgb(138,109,59);
$cs-alert-yellow-l: rgb(252,248,227);
$cs-alert-red: rgb(169,68,66);