/******************************************************************

Stylesheet: Main Stylesheet

******************************************************************/
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

b, strong, .strong {
  font-weight: bold; }

dfn, em, .em {
  font-style: italic; }

small, .small {
  font-size: 75%; }

ul, ol {
  padding: 0;
  list-style-type: none; }

dd {
  margin: 0; }

.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none; }

/******************************************************************

Stylesheet: Helpers

******************************************************************/
/*********************
/* !HELPER 			*/
/********************/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*********************
/* ! CLEARFIX		*/
/********************/
.grp {
  zoom: 1; }
  .grp:before, .grp:after {
    content: "";
    display: table; }
  .grp:after {
    clear: both; }

/*********************
/* ! TOOLS */
/********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/******************************************************************

Stylesheet: Mixins & Constants Stylesheet

******************************************************************/
/*********************
/* ! TRANSITION		*/
/********************/
/*
	@include transition(all 0.2s ease-in-out); 
*/
/*********************
/* ! CSS3 GRADIENTS */
/********************/
/*
	@include css-gradient(#dfdfdf,#f8f8f8);
*/
/*********************
/* ! CSS3 GRADIENTS */
/********************/
/* 
	@include box-sizing(border-box); 
*/
/******************************************************************
Site Name: 
Author: 

Stylesheet: Styleguide

This stylesheet is loaded with all the core styles the design
has, UI, UX modules etc.

******************************************************************/
/**********************
/* ! COLOUR SCHEMING */
/*********************/
/*
$cs-primary - 
$cs-primary -
$cs-secondary -
$cs-tertiary -
$cs-quadrary -

*/
/*********************
/* ! LINK STYLES		*/
/********************/
a, a:visited {
  color: black;
  /* on hover */
  /* on click */
  /* mobile tap color */ }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: black; }
  a:link, a:visited:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/*********************
/* ! TYPOGRAPHY		*/
/********************/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/*
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}
*/
/******************************************************************
/* ! H1, H2, H3, H4, H5 STYLES									 */
/*****************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 500;
  /* removing text decoration from all headline links */ }
  h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
    text-decoration: none; }

h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em; }

h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em; }

h3, .h3 {
  font-size: 1.125em; }

h4, .h4 {
  font-size: 1.1em;
  font-weight: 700; }

h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px; }

/*********************
/* !PARAGRAPH	 	*/
/********************/
/*********************
/* !DEFINITION LIST */
/********************/
/*********************
/* !ORDERED LIST	*/
/********************/
/*********************
/* ! INORDERED LIST */
/********************/
/*********************
/* ! TABLES			*/
/********************/
table {
  width: 100%;
  border-collapse: separate;
  margin: 0 0 20px; }
  table thead tr th {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 5px;
    border-bottom: 1px #dddddd solid;
    border-right: 1px #dddddd solid;
    border-left: 1px rgba(0, 0, 0, 0) solid;
    border-top: 1px rgba(0, 0, 0, 0) solid;
    letter-spacing: 0.01em;
    line-height: 13pt;
    color: rgba(0, 0, 0, 0.6);
    text-align: left; }
  table tbody tr {
    border: 1px white solid; }
    table tbody tr:nth-child(odd) {
      background-color: #f9f9f9; }
    table tbody tr td {
      letter-spacing: 0.02em;
      line-height: 14pt;
      padding: 3px 10px;
      border-right: 1px #dddddd solid;
      border-bottom: 1px #dddddd solid;
      border-left: 1px rgba(0, 0, 0, 0) solid;
      border-top: 1px rgba(0, 0, 0, 0) solid;
      box-sizing: border-box; }

/*********************
/* ! FORM UI		*/
/********************/
/* Inputs */
/* Placeholder Styles */
::-webkit-input-placeholder {
  color: #ccc;
  font-weight: lighter; }

::-moz-input-placeholder {
  color: #ccc;
  font-weight: lighter; }

/* Default input styles */
input[type=name],
input[type=email],
input[type=password],
input[type=text],
textarea[type=text] {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 25px;
  width: 100%;
  color: #999;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

input[type=name]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=text]:hover,
textarea[type=text]:hover {
  outline: none;
  border: 1px solid #bbb;
  box-shadow: none; }

input[type=name]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
textarea[type=text]:focus {
  outline: none;
  border: 1px solid #00bce9;
  box-shadow: 0 0 5px #2da1ec; }

textarea[type=text] {
  height: 200px; }

input.highlight {
  border: 1px solid #ffcc33;
  box-shadow: 0 0 5px #ffff00; }

input.error {
  border: 1px solid #dd212b;
  box-shadow: 0 0 5px #ed1b24; }

/* Sliders */
/* (These only work in webkit browsers-be careful! */
input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  width: 250px;
  height: 10px;
  border-radius: 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 1px 0 white, inset 0 0 5px black; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
  background-image: -moz-linear-gradient(#2da1ec, #0191d9);
  background-image: -ms-linear-gradient(#2da1ec, #0191d9);
  background-image: linear-gradient(#2da1ec, #0191d9); }

input[type="range"]::-webkit-slider-thumb:hover {
  background-image: -webkit-radial-gradient(#2eacff, #0191d9);
  background-image: -moz-radial-gradient(#2eacff, #0191d9);
  background-image: -ms-radial-gradient(#2eacff, #0191d9);
  background-image: radial-gradient(#2eacff, #0191d9); }

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3); }

/*********************
/* ! MINI MIXINS 	*/
/********************/
/*********************
/* ! ALERT		  	*/
/********************/
.alert-warning, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid; }

.alert-warning {
  border-color: #e8dc59;
  background: #ebe16f; }

.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8; }

.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4; }

.alert-success {
  border-color: #deeaae;
  background: #e6efc2; }

/*********************
/* ! BUTTONS 		*/
/********************/
/*
BASE (MOBILE) SIZE
*/
/******************************************************************

Stylesheet: Base Mobile Stylesheet

******************************************************************/
/*******************************
/* ! GENERAL STYLES           */
/******************************/
body {
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  font-size: 100%;
  line-height: 1.5;
  color: #565656; }

/*******************************
/* ! LAYOUT & GRID STYLES     */
/******************************/
.wrap {
  width: 96%;
  margin: 0 auto; }

/*******************************
/* ! HEADER STYLES            */
/******************************/
/*******************************
/* ! NAVIGATION STYLES        */
/******************************/
.primary-nav {
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */ }
  .primary-nav li {
    /*******************************
    /* ! SUB NAV STYLES           */
    /******************************/ }
    .primary-nav li a {
      display: block;
      text-decoration: none;
      padding: 10px 10px;
      background-color: #eee;
      border-bottom: 1px solid #ccc; }
    .primary-nav li ul.sub-menu li a,
    .primary-nav li ul.children li a {
      padding-left: 30px; }

/* end .primary-nav */
/*******************************
/* ! POSTS & CONTENT STYLES   */
/******************************/
#content {
  margin-top: 2.2em; }

/* end .hentry */
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
.byline {
  color: #999; }

/* entry content */
.entry-content {
  /*
  image alignment on a screen this size may be
  a bit difficult. It's set to start aligning
  and floating images at the next breakpoint,
  but it's up to you. Feel free to change it up.
  */ }
  .entry-content dd {
    margin-left: 0;
    font-size: 0.9em;
    color: #787878;
    margin-bottom: 1.5em; }
  .entry-content img {
    margin: 0 0 1.5em 0;
    max-width: 100%;
    height: auto; }
  .entry-content video, .entry-content object {
    max-width: 100%;
    height: auto; }
  .entry-content pre {
    background: #eee;
    border: 1px solid #cecece;
    padding: 10px; }

/* end .entry-content */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */ }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
/*****************************************************************
/* ! PAGE NAVI STYLES                                           */
/****************************************************************/
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em; }

.bones_page_navi {
  /* current page link */
  /* end .bones_page_navi .bpn-current */
  /* common styles for page-navi links */
  /* remove the bg on end links */
  /* previous link */
  /* next page link */
  /* first page link */
  /* last page link */ }
  .bones_page_navi li {
    float: left;
    margin-left: 10px; }
    .bones_page_navi li a {
      padding: 3px 6px;
      display: block;
      text-decoration: none;
      position: relative; }
      .bones_page_navi li a:hover, .bones_page_navi li a:focus {
        color: #f01d4f;
        text-decoration: underline; }
  .bones_page_navi li.bpn-current {
    padding: 3px 6px;
    border-bottom: 2px solid #f01d4f;
    position: relative; }
    .bones_page_navi li.bpn-current a {
      /* hovering on current page link */ }
  .bones_page_navi li.bpn-prev-link,
  .bones_page_navi li.bpn-next-link {
    font-weight: 700; }
    .bones_page_navi li.bpn-prev-link a,
    .bones_page_navi li.bpn-next-link a {
      padding: 0; }
  .bones_page_navi li.bpn-prev-link a:hover,
  .bones_page_navi li.bpn-next-link a:hover,
  .bones_page_navi li.bpn-first-page-link a:hover,
  .bones_page_navi li.bpn-last-page-link a:hover {
    background: none; }

/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left; }
.wp-prev-next .next-link {
  float: right; }

/* end .wp-prev-next */
/*****************************************************************
/* ! COMMENT STYLES                                             */
/****************************************************************/
/* h3 comment title */
#comments {
  /* number of comments span */ }

.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment meta */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */ }
  .commentlist li {
    position: relative;
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0.7335em 10px;
    /* end .commentlist li ul.children */ }
    .commentlist li:last-child {
      margin-bottom: 0; }
    .commentlist li ul.children {
      margin: 0;
      /* variations */
      /* change number for different depth */ }
  .commentlist li[class*=depth-] {
    margin-top: 1.1em; }
  .commentlist li.depth-1 {
    margin-left: 0;
    margin-top: 0; }
  .commentlist li:not(.depth-1) {
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 0;
    padding-bottom: 0; }
  .commentlist .odd {
    background: #eee; }
  .commentlist .even {
    background: #fefefe; }
  .commentlist .vcard {
    margin-left: 50px; }
    .commentlist .vcard cite.fn {
      font-weight: 700;
      font-style: normal; }
    .commentlist .vcard time {
      float: right; }
      .commentlist .vcard time a {
        color: #999;
        text-decoration: none; }
        .commentlist .vcard time a:hover {
          text-decoration: underline; }
    .commentlist .vcard img.avatar {
      position: absolute;
      left: 10px;
      padding: 2px;
      border: 1px solid #cecece;
      background: #fff; }
  .commentlist .comment_content {
    margin-left: 50px; }
    .commentlist .comment_content p {
      margin: 0.7335em 0 1.5em;
      font-size: 1em;
      line-height: 1.5em; }
  .commentlist .comment-reply-link {
    text-decoration: none;
    float: right;
    background: #4598bb;
    padding: 3px 5px;
    color: #fff;
    opacity: 0.65;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 0.9em; }
    .commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
      opacity: 1; }

/* end .commentlist */
/*****************************************************************
/* ! COMMENT FORM STYLES                                        */
/****************************************************************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em;
      /* form validation */ }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

/* comment submit button */
/* comment form title */
#comment-form-title {
  margin: 0 0 1.1em; }

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

/* no comments */
.nocomments {
  margin: 0 20px 1.1em; }

/*******************************
/* ! SIDEBARS & ASIDES        */
/******************************/
.widget ul li {
  /* deep nesting */ }

/*******************************
/* ! FOOTER STYLES            */
/******************************/
/* end .supporting-nav */
/*
LARGER MOBILE DEVICES
*/
@media only screen and (min-width: 30.063em) {
  /******************************************************************
  
  Stylesheet: 481px and Up Stylesheet
  
  ******************************************************************/
  /*******************************
  /* ! BOOKMARK                 */
  /******************************/ }
/*
TABLET & SMALLER LAPTOPS
*/
@media only screen and (min-width: 48em) {
  /******************************************************************
  
  
  Stylesheet: Grid Stylesheet
  
  ******************************************************************/
  /* 4.85%;  } /* grid_1  */
  /* 13.45%; } /* grid_2  */
  /* 22.05%; } /* grid_3  */
  /* 30.75%; } /* grid_4  */
  /* 39.45%; } /* grid_5  */
  /* 48%;    } /* grid_6  */
  /* 56.75%; } /* grid_7  */
  /* 65.4%;  } /* grid_8  */
  /* 74.05%; } /* grid_9  */
  /* 82.7%;  } /* grid_10 */
  /* 91.35%; } /* grid_11 */
  /* 100%;   } /* grid_12 */
  /******************************************************************
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  ******************************************************************/
  /*******************************
  /* ! GENERAL STYLES           */
  /******************************/
  /*******************************
  /* ! LAYOUT & GRID STYLES     */
  /******************************/
  .wrap {
    max-width: 1140px; }

  /*******************************
  /* ! HEADER STYLES            */
  /******************************/
  /*******************************
  /* ! NAVIGATION STYLES        */
  /******************************/
  /*******************************
  /* ! SIDEBARS & ASIDES        */
  /******************************/
  /*******************************
  /* ! FOOTER STYLES            */
  /******************************/ }
/*
DESKTOP
*/
@media only screen and (min-width: 64.375em) {
  /******************************************************************
  
  Stylesheet: Desktop Stylsheet
  
  ******************************************************************/
  /*******************************
  /* ! BOOKMARK                 */
  /******************************/ }
/*
LARGE VIEWING SIZE
*/
@media only screen and (min-width: 77.5em) {
  /******************************************************************
  
  Stylesheet: Super Large Monitor Stylesheet
  
  ******************************************************************/
  /*******************************
  /* ! BOOKMARK                 */
  /******************************/ }
/*
iPHONE 5 MEDIA QUERY
*/
/*
PRINT STYLESHEET
*/
@media print {
  /******************************************************************
  
  Stylesheet: Print Stylesheet
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
